<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
    <div class="container" id="mainDiv">

        <h2 class="text-center">Please add new document:</h2>

        <form action="#" th:action="@{/document/add/}" th:object="${documentDto}" method="post">
            <input type="hidden" th:field="*{documentId}"/>
            <fieldset th:disabled="${viewMode == true}">
                <div class="row">
                    <div class="col">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Creation date:</span>
                            <input type="text" th:field="*{creationDate}" class="form-control" placeholder="YYYY-MM-DD"/>
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Completion date:</span>
                            <input type="text" th:field="*{completionDate}" class="form-control" placeholder="YYYY-MM-DD"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>Client:</h3>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Client name:</span>
                            <input type="text" th:field="*{clientName}" class="form-control" placeholder="Write client`s name"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Client surname:</span>
                            <input type="text" th:field="*{clientSurname}" class="form-control" placeholder="Write client`s surname"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Passport number:</span>
                            <input type="text" th:field="*{clientPassportNumber}" class="form-control" placeholder="Write client`s passport number"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Country:</span>
                            <input type="text" th:field="*{clientCountry}" class="form-control" placeholder="Write client`s country"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">City:</span>
                            <input type="text" th:field="*{clientCity}" class="form-control" placeholder="Write client`s city"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Street:</span>
                            <input type="text" th:field="*{clientStreet}" class="form-control" placeholder="Write client`s street"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Index:</span>
                            <input type="text" th:field="*{clientIndex}" class="form-control" placeholder="Write client`s index"/>
                        </div>
                    </div>
                    <div class="col">
                        <h3>Provider:</h3>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Provider name:</span>
                            <input type="text" th:field="*{providerName}" class="form-control" placeholder="Write provider`s name"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Provider surname:</span>
                            <input type="text" th:field="*{providerSurname}" class="form-control" placeholder="Write provider`s surname"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Passport number:</span>
                            <input type="text" th:field="*{providerPassportNumber}" class="form-control" placeholder="Write provider`s passport number"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Country:</span>
                            <input type="text" th:field="*{providerCountry}" class="form-control" placeholder="Write provider`s country"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">City:</span>
                            <input type="text" th:field="*{providerCity}" class="form-control" placeholder="Write provider`s city"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Street:</span>
                            <input type="text" th:field="*{providerStreet}" class="form-control" placeholder="Write provider`s street"/>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text">Index:</span>
                            <input type="text" th:field="*{providerIndex}" class="form-control" placeholder="Write provider`s index"/>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end" id="d-flex-btnSubmitReset">
                    <div class="btn-group">
                        <input type="submit" value="Save" id="btnSubmit" class="btn"/>
                        <input type="reset" value="Reset" id="btnReset" class="btn"/>
                    </div>
                </div>
            </fieldset>
            <a id="btnBack" class="btn" href="/web/document/all/" role="button">Back</a>
        </form>
    </div>

    <div th:replace="fragments/footer :: footer"> </div>

</body>
</html>