<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
    <div class="container" id="mainDiv">
        <h1 id="docsDB">Documents in database: </h1>

        <!--        Ordering row with - labels 12 columns       -->
        <div class="d-inline-flex" id="d-inline-flex">
            <div class="p-2" id="totalDocs">
                <h6 th:text="'Total documents: ' + ${documentsList.totalElements} + ' - Page ' + ${documentsList.number + 1} + ' of ' + ${documentsList.totalPages}"></h6>
            </div>
            <!--        Dropdown Button - Documents Per Page       -->
            <div class="p-2" id="docsPerPage">
                <h6>Documents per page:</h6>
            </div>

            <div class="p-2" id="dropdownDocsPerPage">
                <div class="dropdown" th:with="pageNumber=${documentsList.number}">
                    <button th:text="${documentsList.size}" id="btnDropDown1" class="btn btn-primary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li th:each="documentsPerPage : ${count}">
                            <a th:text="${documentsPerPage}" class="dropdown-item"
                               th:href="'?page=' + ${pageNumber} + '&size=' + ${documentsPerPage} + '&orderBy=' + ${currentOrderBy}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!--        Ordering by ...       -->
            <div class="p-2" id="orderBy">
                <h6>Order by:</h6>
            </div>

            <div class="p-2" id="dropdownOrderBy">
                <div class="dropdown">
                    <button th:text="${currentOrderBy}" id="btnDropDown2" class="btn btn-primary dropdown-toggle" type="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                    </button>
                    <ul class="dropdown-menu">
                        <li th:each="orderBy : ${orderByParam}">
                            <a th:text="${orderBy}" class="dropdown-item"
                               th:href="'?page=' + ${currentPage} + '&size=' + ${currentSize} + '&orderBy=' + ${orderBy}">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--        Table       -->
        <table class="styled-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Client Surname</th>
                <th scope="col">Provider Surname</th>
                <th scope="col">Completion Date</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="document, iter : ${documentsList}" th:with="counter=${currentPage}*${currentSize}">
                    <td th:text="${counter} + ${iter.count}"></td>
                    <td th:text="${document.creationDate}"></td>
                    <td th:text="${document.clientSurname}"></td>
                    <td th:text="${document.providerSurname}"></td>
                    <td th:text="${document.completionDate}"></td>
                    <td th:with="docId=${document.documentId}">
                        <a th:href="'/web/document/update/?docId=' + ${docId} + '&view=true'">
                            <i class="far fa-file-alt"></i></a>
                        <a th:href="'/web/document/update/?docId=' + ${docId} + '&view=false'">
                            <i class="far fa-edit"></i></a>
                        <a th:href="'/web/document/delete/?docId=' + ${docId}">
                            <i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <!--        Pagination       -->
        <div class="d-flex justify-content-center">
            <div class="p-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <!--      Previous page       -->
                        <li class="page-item">
                            <a class="page-link"
                               th:if="${currentPage} > 0"
                               th:href="'?page=' + ${currentPage - 1} + '&size=' + ${documentsList.size} + '&orderBy=' + ${currentOrderBy}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!--        Page Numbers       -->
                        <li class="page-item"
                            th:each="pageNumber : ${numbers}"
                            th:classappend="${pageNumber} == ${currentPage} ? active : ''">
                            <a class="page-link"
                               th:classappend="${pageNumber} == ${currentPage} ? active : ''"
                               th:text="${pageNumber} + 1"
                               th:href="'?page=' + ${pageNumber} + '&size=' + ${documentsList.size} + '&orderBy=' + ${currentOrderBy}">
                            </a>
                        </li>
                        <!--      Next page       -->
                        <li class="page-item">
                            <a class="page-link"
                               th:if="${currentPage} < ${documentsList.totalPages - 1}"
                               th:href="'?page=' + ${currentPage + 1} + '&size=' + ${documentsList.size} + '&orderBy=' + ${currentOrderBy}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <!--        Add button       -->
    <!--        <sec:authorize url="/document/add/">-->
            <div id="addBtnDiv" class="p-2">
                <a href="/web/document/add/" class="btn" id="btnAdd" role="button">Add document</a>
            </div>
        </div>
    <!--        </sec:authorize>-->
    </div>

    <div th:replace="fragments/footer :: footer"> </div>

</body>
</html>